<h1>Редактирование коллекции</h1>

<%= render 'form', collection: @collection %>

<%= link_to 'Удалить', @collection, method: :delete, data: { confirm: 'Вы уверены?' } %>
<%= link_to 'Просмотр', @collection %> |
<%= link_to 'Назад', collections_path %>
