<p id="notice"><%= notice %></p>

<h1>Коллекции</h1>
  <% @collections.each do |collection| %>
    <br><%= collection.name %><br>
    <% collection.photos.last(3).each do |photo| %>
      <%= link_to(image_tag(photo.image.thumb.url, alt: 'Фотография'), collection) if photo.image? %>
    <% end %>
  <% end %>

<br>

<%= link_to 'Создать новую коллекцию', new_collection_path %>
