<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @photos_comment.body %>
</p>

<%= link_to 'Edit', edit_photos_comment_path(@photos_comment) %> |
<%= link_to 'Back', photos_comments_path %>
