// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#photos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
}

.photo {
  width: 30%;
  padding-left: 20px;
}

.btn-sort-active {
  background-color: lightblue;
}

.btn-sort-items{
  display: none;
}

#new-collection-modal{
  display: none;
}
