<p>Здравствуйте, <%= @resource.email %>!</p>

<p>Кто-то запросил изменение пароля. Пройдите по ссылке ниже для изменения пароля:</p>

<p><%= link_to 'Изменить мой пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если это были не Вы, проигнорируйте данное сообщение.</p>
<p>Ваш пароль не изменится, пока Вы не пройдёте по ссылке выше.</p>
