<p>Здравствуйте, <%= @resource.email %>!</p>

<p>Ваш аккаунт был заблокирован из-за подозрительной активности.</p>

<p>Пройдите по ссылке ниже, чтобы разблокировать его:</p>

<p><%= link_to 'Разблокировать мой аккаунт', unlock_url(@resource, unlock_token: @token) %></p>
